/* Define a keyframes animation for the logo */
@keyframes logo_ani {
    from {
        width: 75px;
        opacity: 0;
    }
    to {
        width: 475px;
        opacity: 1;
    }
}

/* Apply the logo animation to the 'logo' element */
#logo {
    animation-name: logo_ani;
    animation-duration: 5s;
}

/* Define CSS for the body of the webpage */
body {
    font-family: 'Poppins', serif;
    background-color: #f1f1f1;
    background-image: url("../images/concrete_seamless.png");
}

/* Define styling for the header section of the webpage */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for navigation links */
.nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for visited links */
a:visited {
    color: blue;
}

/* Styling for the header section of a card */
.card>header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0px 20px 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* Styling for pricing information */
.pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Styling for cards */
.card {
    border-radius: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex-basis: 450px;
}

/* Styling for gallery images */
.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px 10px 10px 10px;
    width: 300px;
}

/* Styling for the gallery section */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

/* Media query for screens with a minimum width of 800px */
@media only screen and (min-width: 800px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav_links {
        flex-direction: row;
    }

    .card {
        flex-basis: 275px;
    }

    body>header:nth-child(2) {
        position: sticky;
        top: 0px;
    }
}

/* Media query for screens that prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
    #logo {
        animation: none;
    }
}

/* Media query for printing */
@media print {
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        width: 100%;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .pricing {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: end;
    }

    .card {
        border: 2px solid #45ADDD;
    }

    #gallery,
    .gallery {
        display: none;
    }

    /*Adding thumb to the end of the first list item*/
    .card>ul>li:nth-child(2)::after {
        content: "\1F44D";
    }
}

